{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/body3styls.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sofastyles.css' %}">
</head>
<body>
    <!-- bed one -->
    <h1 id="sh1">Meet The Bestsellers</h1>
    <div id="sofa1">
        <div id="s1"></div>
        <div id="s2">
            <img id="im1" src="{% static 'images/Bed1.webp' %}"><br />
            <span id="sp2">Easy Lift</span><br>
            <span id="sp3">50+ hydraulic storage beds</span>
        </div>
        <div id="s3">
            <img id="im1" src="{% static 'images/Bed2.webp' %}"><br />
            <span id="sp2">Happily Single</span><br>
            <span id="sp3">50+ single no storage beds</span>
        </div>
        <div id="s4">
            <img id="im1" src="{% static 'images/Bed3.webp' %}"><br />
            <span id="sp2">Extra Comfort</span><br>
            <span id="sp3">50+ upholstered beds</span>
        </div>
        <div id="s5">
            <img id="im1" src="{% static 'images/Bed4.webp' %}"><br />
            <span id="sp2">Queen Size Comfort</span><br>
            <span id="sp3">200+ 6 inch queen size mattresses</span>
        </div>
        <div id="s6">
            <img id="im1" src="{% static 'images/Bed5.webp' %}"><br />
            <span id="sp2">Catch Some Z's</span><br>
            <span id="sp3">50+ foldable mattresses</span>
        </div>
        <div id="s7">
            <img id="im1" src="{% static 'images/Bed6.webp' %}"><br />
            <span id="sp2">Good Night</span><br>
            <span id="sp3">100+ pillows</span>
        </div>
        <div id="s8"></div>
    </div>
    <!-- end bed one -->

    <!-- bed two -->
    <h1 id="sh1">It's A Big Deal</h1>
    <div id="body3">
        <div id="b31"></div>
        <div id="b32">
            <img id="img4" src="{% static 'images/Bed7.jpg' %}"><br />
            <span id="sp2">Clutter-free Bedroom</span><br>
            <span id="sp3">40+ queen storage beds</span>
        </div>
        <div id="b33">
            <img id="img4" src="{% static 'images/Bed8.jpg' %}"><br />
            <span id="sp2">Sheesham But Affordable</span><br>
            <span id="sp3">30+ queen beds under 40k</span>
        </div>
        <div id="b34">
            <img id="img4" src="{% static 'images/Bed9.webp' %}"><br />
            <span id="sp2">Dream Sleep</span><br>
            <span id="sp3">100+ couddlo mattresses</span>
        </div>
        <div id="b35">
            <img id="img4" src="{% static 'images/Bed10.jpg' %}"><br />
            <span id="sp2">Hot Favourite</span><br>
            <span id="sp3">50+ spaced beds</span>
        </div>
        <div id="b36"></div>
    </div>
    <!-- end bed two -->
</body>
</body>
</html>