{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/body3styls.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sofastyles.css' %}">
</head>
<body>
    <!-- dining one -->
    <h1 id="sh1">Meet The Bestsellers</h1>
    <div id="sofa1">
        <div id="s1"></div>
        <div id="s2">
            <img id="im1" src="{% static 'images/db1.jpg' %}"><br />
            <span id="sp2">The Table  Is Set</span><br>
            <span id="sp3">100+ dinner plates</span>
        </div>
        <div id="s3">
            <img id="im1" src="{% static 'images/db2.webp' %}"><br />
            <span id="sp2">Impress Your Guests</span><br>
            <span id="sp3">250+ serving trays</span>
        </div>
        <div id="s4">
            <img id="im1" src="{% static 'images/db3.webp' %}"><br />
            <span id="sp2">Everyone's Cup Of Tea</span><br>
            <span id="sp3">250+ tea cups and saucers</span>
        </div>
        <div id="s5">
            <img id="im1" src="{% static 'images/db4.jpg' %}"><br />
            <span id="sp2">Keep The Table Tidy</span><br>
            <span id="sp3">200+ placemat sets</span>
        </div>
        <div id="s6">
            <img id="im1" src="{% static 'images/db5.jpg' %}"><br />
            <span id="sp2">Stay Hydrated</span><br>
            <span id="sp3">100+ everyday glasses</span>
        </div>
        <div id="s7">
            <img id="im1" src="{% static 'images/db6.jpg' %}"><br />
            <span id="sp2">Snack In Style</span><br>
            <span id="sp3">250+ serving dishes</span>
        </div>
        <div id="s8"></div>
    </div>
    <!-- end dining one -->

    <!-- dining two -->
    <h1 id="sh1">It's A Big Deal</h1>
    <div id="body3">
        <div id="b31"></div>
        <div id="b32">
            <img id="img4" src="{% static 'images/db7.webp' %}"><br />
            <span id="sp2">A Meal To Remember</span><br>
            <span id="sp3">30+ dinner plates</span>
        </div>
        <div id="b33">
            <img id="img4" src="{% static 'images/db8.webp' %}"><br />
            <span id="sp2">Fancy A Cuppa?</span><br>
            <span id="sp3">10+ coffee mugs</span>
        </div>
        <div id="b34">
            <img id="img4" src="{% static 'images/db9.jpg' %}"><br />
            <span id="sp2">Dress Your Table</span><br>
            <span id="sp3">80+ table runners</span>
        </div>
        <div id="b35">
            <img id="img4" src="{% static 'images/db10.jpg' %}"><br />
            <span id="sp2">Conversations Over Chai</span><br>
            <span id="sp3">100+ tea cups and saucers</span>
        </div>
        <div id="b36"></div>
    </div>
    <!-- end dining two -->
</body>
</html>