{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/body3styls.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sofastyles.css' %}">

</head>
<body>
    <!-- sofa one -->
    <h1 id="sh1">Meet The Bestsellers</h1>
    <div id="sofa1">
        <div id="s1"></div>
        <div id="s2">
            <img id="im1" src="{% static 'images/sofa1.webp' %}"><br />
            <span id="sp2">Gather Together</span><br>
            <span id="sp3">80+ Lawson 3 Seater Sofas</span>
        </div>
        <div id="s3">
            <img id="im1" src="{% static 'images/sofa2.webp' %}"><br />
            <span id="sp2">End TableLounge</span><br>
            <span id="sp3">50+ Chaise Loungers</span>
        </div>
        <div id="s4">
            <img id="im1" src="{% static 'images/sofa3.webp' %}"><br />
            <span id="sp2">Sit Back</span><br>
            <span id="sp3">70+ Manual 1 Seater Recliners</span>
        </div>
        <div id="s5">
            <img id="im1" src="{% static 'images/sofa4.webp' %}"><br />
            <span id="sp2">Contemporary</span><br>
            <span id="sp3">100+ Contemporary Sofas</span>
        </div>
        <div id="s6">
            <img id="im1" src="{% static 'images/sofa5.webp' %}"><br />
            <span id="sp2">Me-time Corner</span><br>
            <span id="sp3">50+ Solid Colour Wing Chairs</span>
        </div>
        <div id="s7">
            <img id="im1" src="{% static 'images/sofa6.webp' %}"><br />
            <span id="sp2">Convertible</span><br>
            <span id="sp3">100+ Sofa Cum Convertible Beds</span>
        </div>
        <div id="s8"></div>
    </div>
    <!-- end sofa one -->

    <!-- sofa two -->
    <h1 id="sh1">It's A Big Deal</h1>
    <div id="body3">
        <div id="b31"></div>
        <div id="b32">
            <img id="img4" src="{% static 'images/sofa7.webp' %}"><br />
            <span id="sp2">Pop Of Colour</span><br>
            <span id="sp3">20+ the rebbeca collection</span>
        </div>
        <div id="b33">
            <img id="img4" src="{% static 'images/sofa8.jpg' %}"><br />
            <span id="sp2">Retro Inspired</span><br>
            <span id="sp3">20+ the serena collection</span>
        </div>
        <div id="b34">
            <img id="img4" src="{% static 'images/sofa9.webp' %}"><br />
            <span id="sp2">Snug & Stylish</span><br>
            <span id="sp3">20+ the daroo collection</span>
        </div>
        <div id="b35">
            <img id="img4" src="{% static 'images/sofa10.webp' %}"><br />
            <span id="sp2">For Compact Spaces</span><br>
            <span id="sp3">30+ the alba collections</span>
        </div>
        <div id="b36"></div>
    </div>
    <!-- end sofa two -->
</body>
</html>