{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/body3styls.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sofastyles.css' %}">
</head>
<body>
    <!-- storage one -->
    <h1 id="sh1">Meet The Bestsellers</h1>
    <div id="sofa1">
        <div id="s1"></div>
        <div id="s2">
            <img id="im1" src="{% static 'images/storage1.webp' %}"><br />
            <span id="sp2">Best Foot Forward</span><br>
            <span id="sp3">80+ door shoe cabinets</span>
        </div>
        <div id="s3">
            <img id="im1" src="{% static 'images/storage2.jpg' %}"><br />
            <span id="sp2">Book Shelves</span><br>
            <span id="sp3">70+ modern book shelves</span>
        </div>
        <div id="s4">
            <img id="im1" src="{% static 'images/storage3.webp' %}"><br />
            <span id="sp2">Storage Sorted</span><br>
            <span id="sp3">50+ cabinets and sideboards</span>
        </div>
        <div id="s5">
            <img id="im1" src="{% static 'images/storage4.webp' %}"><br />
            <span id="sp2">For The Love Of Books</span><br>
            <span id="sp3">30+ book cases</span>
        </div>
        <div id="s6">
            <img id="im1" src="{% static 'images/storage5.webp' %}"><br />
            <span id="sp2">Stack Clothes Neatly</span><br>
            <span id="sp3">40+ modern chest of drawers </span>
        </div>
        <div id="s7">
            <img id="im1" src="{% static 'images/storage6.webp' %}"><br />
            <span id="sp2">Spacious Wardrobes</span><br>
            <span id="sp3">100+ 3 door wardrobes </span>
        </div>
        <div id="s8"></div>
    </div>
    <!-- end storage one -->

    <!-- storage two -->
    <h1 id="sh1">It's A Big Deal</h1>
    <div id="body3">
        <div id="b31"></div>
        <div id="b32">
            <img id="img4" src="{% static 'images/storage7.webp' %}"><br />
            <span id="sp2">Stylish On Budget</span><br>
            <span id="sp3">20+ 4 door wardrobes</span>
        </div>
        <div id="b33">
            <img id="img4" src="{% static 'images/storage8.webp' %}"><br />
            <span id="sp2">Modern Meets Traditional</span><br>
            <span id="sp3">24+ transitional sideboards</span>
        </div>
        <div id="b34">
            <img id="img4" src="{% static 'images/storage9.webp' %}"><br />
            <span id="sp2">Affordable & Waterproof</span><br>
            <span id="sp3">20+ plastic cabinets</span>
        </div>
        <div id="b35">
            <img id="img4" src="{% static 'images/storage10.webp' %}"><br />
            <span id="sp2">More Space. More Savings.</span><br>
            <span id="sp3">20+ cabinets and sideboards</span>
        </div>
        <div id="b36"></div>
    </div>
    <!-- end storage two -->
</body>
</html>