#body4{
    display: flex;
    background-color:;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#b41{
    flex: 1;
}
#b42:hover{
    flex: 5;
    background-color: grey;
    border-radius: 20px;
}
#b43:hover{
    flex: 5;
    background-color: grey;
    border-radius: 20px;
}
#b44:hover{
    flex: 5;
    background-color: grey;
    border-radius: 20px;
}
#b45{
    flex: 1;
}
#img5{
    height: 480px;
    width: 97%;
}